<div class="alarm-button-group">
  <a onclick="displayAvatar()">Ảnh đại diện</a>
  <a onclick="turnOnHeatMap()">Bản đồ nhiệt</a>
  <a onclick="simulateAlarm()">Báo động tương tự</a>
  <a onclick="goBack()">Quay về</a>
</div>