<div class="community-older-info">
  <div class="title">Thông tin</div>
  <div class="personal-info-wrapper">
    <div class="avatar-wrapper">
      <img src="public/image/avatar/old3.png" alt="">
    </div>
    <ul>
      <li>
        <div class="block-dot"> </div> Bác Vương
      </li>
      <li>
        <div class="block-dot"> </div> Nam giới
      </li>
      <li>
        <div class="block-dot"> </div> Thượng hải
      </li>
      <li>
        <div class="block-dot"> </div> 79 tuổi
      </li>
      <li>
        <div class="block-dot"></div>Suy giảm nhận thức
      </li>
    </ul>
  </div>
  <div class="service-wrapper">
    <div class="service-item">
      <div>
        Kết hợp
      </div>
      <p>EH2</p>
    </div>
    <div class="service-item">
      <div>
        Thích
      </div>
      <p>Đọc báo, TV</p>
    </div>
    <div class="service-item">
      <div>
        Điện thoại
      </div>
      <p>17602109258</p>
    </div>
  </div>
  <div class="bottom-decorate"></div>
</div>